:root {
    --glass-color: none;
    --white-color:hsl(0,0%,100%);
}

span {
    pointer-events: none;
}

.hidden {
    display: none;
    opacity: 0;
    transition: 0.3s;
    position: relative;
}

/* .dark-mode {} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(-20deg, blue, red);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

/* header-wrapper */
.header-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 0.75rem;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
    z-index: 100;
}

.sidebar-toggle {
    width: 3.5rem;
    height: 3.5rem;
    background-color: hsla(0, 0%, 0%, 0.1);
    backdrop-filter: blur(12px);
    align-items: center;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar-toggle-icon {
    display: inline-block;
    transition: transform 0.3s ease;
    top: 0;
    left: 0;
    font-size: 24px;
    color: var(--white-color);
}

.sidebar-toggle:hover .sidebar-toggle-icon {
    transform: rotate(-20deg);
}

.st-active {
    width: 20vw;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s ease;
}

/* header */
.header {
    display: grid;
    top: 0;
    left: 0;
    right: 0;
    margin: 1rem;
}

.header-container {
    background-color: hsla(0, 0%, 0%, 0.1);
    backdrop-filter: blur(12px);
    border-radius: 1rem;
    width: 100%;
    height: 3.5rem;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1.5rem;
}

.header-logo {
    font-weight: 600;
    color: var(--white-color);
}

/* sidebar */
.sidebar {
    position: fixed;
    width: 20vw;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 0%, 0.2);
    backdrop-filter: blur(12px);
    padding: 1rem 1rem 1.5rem;
    margin: 1rem 0.5rem;
    z-index: 100;
    border-radius: 1rem;
    transition: 0.3s;
}

.shifted {
    pointer-events: none;
    position: fixed;
    opacity: 0;
    transition: 0.3s;
    width: 3.5rem;
    height: 3.5rem;
    top: 1rem;
    left: 1rem;
}

.sidebar-logo {
    display: flex;
    column-gap: 0.75rem;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    color: var(--white-color);
    padding: 0 0 0.75rem ;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
}

.sidebar-logo i {
    font-size: 1.5rem;
    font-weight: 400;
    transition: 0.3s ease;
}

.sidebar-logo i:hover {
    transform: rotate(-20deg);
    transition: 0.25s ease;
}

.sidebar-content {
    display: grid;
    row-gap: 0.5rem;
    padding-top: 1.25rem;
}

.sidebar-link {
    left: 0;
    display: flex;
    color: var(--white-color);
    align-items: center;
    justify-content: left;
    column-gap: 0.5rem;
    padding: 0.5rem;
    padding-inline: 1rem;
    border-radius: 0.5rem;
    transition: all 0.4s;
}

.sidebar-link i {
    font-size: 1.25rem;
}

.sidebar-link span {
    font-weight: 500;
}

.sidebar-link:hover {
    background-color: hsla(0, 0%, 0%, 0.2);
}

.drop-button {
    width: 100%;
    flex-direction: row;
    border: none;
    outline: none;
    background: none;
    font:500 var(--normal-font-size);
    cursor: pointer;
}

.drop-arrow {
    margin-right: auto;
    transition: transform 0.4s;
}

.drop-list {
    display: grid;
    row-gap: 0.25rem;
    height: auto;
    overflow: hidden;
    transition: height 0.4s;
}

.drop-item {
    position: relative;
    display: block;
    color: var(--white-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.4s;
}

.drop-item::after {
    content: "";
    width: 6px;
    height: 6px;
    background-color: var(--white-color);
    position: absolute;
    right: 1rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border-radius: 50%;
}

.drop-item:hover {
    background-color: hsla(0, 0%, 0%, 0.2);
}

.show-drop .drop-arrow {
    transform: rotate(180deg);
}

.lang-toggle {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    height: 35px;
    color: var(--white-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.4s;
}

.lang-toggle:hover {
    background-color: hsla(0, 0%, 0%, 0.2);
}

.lang-toggle-container {
    font-size: 0.69rem;
    width: 4rem;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1px;
}

.lang-toggle-wrapper {
    position: relative;
    width: 30px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 8px;
}

.lang-toggle-switch {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: relative;
    align-items: center;
    cursor: pointer;
}

.lang-toggle-knob {
    width: 13px;
    height: 13px;
    background: hsla(0, 0%, 100%, 0.2);
    border-radius: 50%;
    position: absolute;
    left: 1px;
    top: 0;
    transition: left 0.3s;
}

/* main-content */
.main-content {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}

.prof-pic {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    margin: 3rem;
    border: 2px solid hsla(0, 0%, 0%, 0.2);
    box-shadow: 2px 2px 10px hsla(0, 0%, 0%, 0.2);
}

.mian-text {
    margin: 7.5rem 1rem 7.5rem 0;
    padding: 0.75rem;
    border-radius: 1rem;
    background: hsla(0, 0%, 0%, 0.1);
    backdrop-filter: blur(2px);
    display: grid;
    grid-template-rows: 1fr auto;
}

h1 {
    color: var(--white-color);
    text-shadow: 0 0 2px;
}


/* footer */
footer {
    background: hsla(0, 0%, 100%, 0.2);
    backdrop-filter: blur(12px);
    border-radius: 2rem;
    position: fixed;
    margin-top: 2rem;
    margin-left: 1rem;
    bottom: 1rem;
    width: 98%;
    height: 70px;
}

.footer-content {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    top: 25px;
    left: 25px;
}

.update {
    font-weight: 600;
    color: #979797;
    text-shadow: 0 0 1px;
    display: inline;
    text-align: center;
}

.socials {
    display: grid;
    grid-template-columns: auto;
}

.contect {
    text-shadow: 0 0 1px;
    color: #6b6767;
    display: inline;
}

.social-links {
    padding-left: 1rem;
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    column-gap: 10px;
}

.social-link {
    display: inline;
    font-size: 1.4rem;
    text-decoration: none;
    width: 23px;
    align-items: center;
    justify-content: center;
    background: #444;
    color: white;
    border-radius: 50%;
}

.github {

}
